@import '../../../styles/variables';

.keyData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem; // 258px
    height: 124px;
    flex-shrink: 0;

    &__icon {
        margin: 1.9rem;
    }

    &__energie {
        display: flex;
        flex-direction: column;

        &__number-energie {
            @include text-typo;
            color: #282D30;
            font-size: 1.2rem;
            font-weight: 700;
        }

        &__text-energie {
            @include text-typo;
            color: #74798C;  
            font-size: 14px;
            font-style: normal;
        }
    }
}
