@import '../styles/variables';

.main {
    display: flex;

    &__wrapper {
        width: 80%;
        margin: auto;
        margin-top: 3rem;

        &__section {
            width: 80%;

            &__trois-cubes {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__wrapper__graph-container {
        display: flex;
        justify-content: space-between;

        &__aside {
            width: 20%;

            &__keyData {
                display: flex;
            }
        }
    }
}

