@import '../../../styles/variables';

.container-line-graph {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #F00;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    width: 16rem; // 258px;
    height: 263px;

    &__title {
        @include text-typo;
        width: 9.2rem;
        flex-shrink: 0;      
        font-size: .95rem;
        opacity: 0.504;
        margin-top: 29px;
        margin-left: 2rem; // 34px;
    }
}

.custom-reference-area {
    fill: yellow;
}

// .custom-tooltip {
//     width: 2.4rem; //39px;
//     height: 25px;
//     flex-shrink: 0;
//     background-color: #fff;
//     border: 1px solid rgba(0, 0, 0, 0.2)
// }

.custom-tooltip__minutes {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 300% */
}