.legend {
    margin-bottom: 73px;
}

.legend__barChart__title {
    color: #20253A;
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    }
