@import '../../../styles/variables';

.legend {
    margin-bottom: 73px;

    &__barChart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            @include text-typo;
            color: #20253A;           
            font-size: 0.94rem;
            margin-bottom: 3.8rem;
        }

        &__icons {
            display: flex;

            &__bullet > img {
                padding-left: 2rem; // 32px;
            }
        }

        &__icons__bullet__text {
            @include text-typo;
            color: #74798C;
            padding-left: .75rem; // 12px;         
            font-size: 0.875rem;
        }
    }
}

